<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oly.cms.system.mapper.CmsCatMapper">
	<resultMap id="CatResultMap"
		type="com.oly.cms.system.model.po.CmsCat">
		<result property="catId"    column="cat_id"    />
        <result property="catName"    column="cat_name"    />
        <result property="catIcon"    column="cat_icon"    />
        <result property="visible"    column="visible"    />
        <result property="parentId"    column="parent_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createBy"    column="create_by"    />
        <result property="catUrl"    column="cat_url"    />
        <result property="parent"    column="parent"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="perms"    column="perms"    />
        <result property="keywords"    column="keywords"    />
        <result property="description"    column="description"    />
        <result property="orderNum"    column="order_num"    />
        <result property="catCount"    column="cat_count"    />
        <result property="catType"    column="cat_type"    />
	</resultMap>

	<sql id="Base_Cat_List">
		cat_id, cat_name, cat_icon, visible, parent_id, create_time, update_time, remark, update_by, create_by, cat_url, parent, ancestors, perms, keywords, description, order_num,cat_count, cat_type
	</sql>

	<insert id="insertCmsCat" parameterType="com.oly.cms.system.model.po.CmsCat" useGeneratedKeys="true" keyProperty="catId">
		insert into cms_cat           <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="catName != null and catName != ''">cat_name,</if>
            <if test="catIcon != null">cat_icon,</if>
            <if test="visible != null">visible,</if>
            <if test="parentId != null">parent_id,</if>
            create_time,
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="catUrl != null">cat_url,</if>
            <if test="parent != null">parent,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="perms != null">perms,</if>
            <if test="keywords != null">keywords,</if>
            <if test="description != null">description,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="catCount != null">cat_count,</if>
            <if test="catType != null">cat_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="catName != null and catName != ''">#{catName},</if>
            <if test="catIcon != null">#{catIcon},</if>
            <if test="visible != null">#{visible},</if>
            <if test="parentId != null">#{parentId},</if>
            sysdate(),
            <if test="remark != null">#{remark},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="catUrl != null">#{catUrl},</if>
            <if test="parent != null">#{parent},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="perms != null">#{perms},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="description != null">#{description},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="catCount != null">#{catCount},</if>
            <if test="catType != null">#{catType},</if>
         </trim>
	</insert>

	<insert id="insertCmsCats"	parameterType="java.util.List" useGeneratedKeys="true" keyProperty="catId">
		insert into cms_cat (cat_name, cat_icon,
		visible,perms,
		order_num, parent_id,
		create_time, remark,
		create_by,cat_url,parent,ancestors)
		values <foreach collection="cmsCats" item="cmsTag" index="index" separator=",">
		(#{catName,jdbcType=VARCHAR}, #{catIcon,jdbcType=VARCHAR},
		#{visible,jdbcType=BIT},
		#{perms,jdbcType=VARCHAR},
		#{orderNum},
		#{parentId,jdbcType=INTEGER},
		sysdate(),
		#{remark,jdbcType=VARCHAR},
		#{createBy,jdbcType=BIGINT},#{catUrl,jdbcType=VARCHAR},#{parent,jdbcType=BIT},#{ancestors,jdbcType=VARCHAR})
	</foreach>
	</insert>


	<update id="updateCmsCat"
		parameterType="com.oly.cms.system.model.po.CmsCat">
		update cms_cat
		<set>
			<if test="catName != null and catName != ''">
				cat_name = #{catName,jdbcType=VARCHAR},
			</if>
			<if test="perms != null and perms != ''">
				perms = #{perms,jdbcType=VARCHAR},
			</if>
			<if test="catIcon != null">
				cat_icon = #{catIcon,jdbcType=VARCHAR},
			</if>
			<if test="visible != null">
				visible = #{visible,jdbcType=BIT},
			</if>
			<if test="orderNum != null">
				order_num = #{orderNum},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=BIGINT},
			</if>
			<if test="true">
				update_time = sysdate(),
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="ancestors != null">
				ancestors = #{ancestors,jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="catUrl != null and catUrl != ''">
				cat_url = #{catUrl,jdbcType=VARCHAR},
			</if>
			<if test="parent != null">
				parent = #{parent,jdbcType=BIT},
			</if>
			<if test="catType !=null">
			cat_type=#{catType},
			</if>
			<if test="keywords != null and keywords!='' ">keywords=#{keywords},</if>
			<if test="description != null and description!='' ">description=#{description},</if>
		</set>
		where cat_id = #{catId,jdbcType=BIGINT}
	</update>
     
	 <!-- 批量更新状态 子类状态和父类一起更新 -->
	<update id="updateTagVisible">
		update cms_cat set  visible=#{visible} where cat_id=#{catId} or
		find_in_set(#{catId},ancestors)
	</update>


	<delete id="deleteCmsCatById" parameterType="java.lang.Long">
		delete from cms_cat
		where cat_id = #{catId,jdbcType=BIGINT}  and cat_id not in (select cat_id from cms_article_cat)
	</delete>

	<select id="listCmsCatByCat" resultMap="CatResultMap"
		parameterType="com.oly.cms.system.model.po.CmsCat">
		select
		<include refid="Base_Cat_List" />
		from cms_cat
		<where>
			<if test="catName != null and catName != ''">
				AND cat_name like concat('%', #{catName}, '%')
			</if>
			<if test="visible != null">
				AND visible = #{visible}
			</if>
			<if test="catType != null">
				AND cat_type=#{catType}
			</if>
			<if test="parent != null">
				AND parent = #{parent}
			</if>
			<if test="createBy!=null">
				and create_by=#{createBy,jdbcType=BIGINT}
			</if>
			<if test="updateBy!=null">
				and update_by=#{updateBy,jdbcType=BIGINT}
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
			<if test="params.supportType != null and params.supportType != ''"><!-- 支持主题 -->
				and FIND_IN_SET(cat_type,#{params.supportType})
			</if>
		</where>
		order by order_num
	</select>
    
	<select id="listCmsCatNotHide" resultMap="CatResultMap"
		parameterType="com.oly.cms.system.model.po.CmsCat">
		select
		<include refid="Base_Cat_List" />
		from cms_cat
				<where>
			<if test="catName != null and catName != ''">
				AND cat_name like concat('%', #{catName}, '%')
			</if>
			<if test="true">
				AND visible != 0
			</if>
			<if test="catType != null">
				AND catType = #{cat_type}
			</if>
			<if test="parent != null">
				AND parent = #{parent}
			</if>
			<if test="createBy!=null">
				and create_by=#{createBy,jdbcType=BIGINT}
			</if>
			<if test="updateBy!=null">
				and update_by=#{updateBy,jdbcType=BIGINT}
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
		</where>
		order by order_num
	</select>

	<select id="getCmsCatById" resultMap="CatResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Cat_List" />
		from cms_cat
		where cat_id = #{catId,jdbcType=BIGINT}
	</select>

	<!-- 通过 parentId获取子节点 -->
	<select id="listCmsCatByParentIdId" parameterType="java.lang.Long"
		resultMap="CatResultMap">
		select
		<include refid="Base_Cat_List" />
		from cms_column
		where parent_id=#{parentId}
	</select>

	<select id="listCmsCatByArticleId" parameterType="java.lang.Long" resultMap="CatResultMap">
		select <include refid="Base_Cat_List" /> from cms_cat where cat_id in (select
		cat_id from cms_article_cat
		where article_id=#{articleId})
	</select>

	<select id="checkCatUrlUnique" resultType="int">
		select count(1) from
		cms_cat
		where
		<if test="catId!=null">cat_id not in (#{catId}) and </if>
		cat_url=#{catUrl}

	</select>

	<select id="checkCatNameUnique" resultType="int">
		select count(1) from
		cms_cat
		where
		<if test="catId!=null">cat_id not in (#{catId}) and</if>
		parent_id=#{parentId} and cat_name=#{catName}
	</select>

	<select id="getCatNameById" resultType="string"
		parameterType="java.lang.Long">
		select cat_name from cms_cat
		where cat_id=#{catId}
	</select>

	<!-- 统计子节点 -->
	<select id="countCatByParentId" resultType="int"
		parameterType="java.lang.Long">
		select count(1) from cms_cat
		where parent_id=#{catId}
	</select>

	<select id="countArticleByCatId" parameterType="long" resultType="int">
		select count(1) from cms_article_cat
		where cat_id=#{catId}
	</select>

	<select id="listCatIds" resultType="int" parameterType="long">
		select
		cat_id from cms_article_cat
		where article_id=#{articleId}
	</select>

	<select id="checkCatArticle" parameterType="long">
      select
		count(0)  from cms_article_cat
		where cat_id=#{catId}
	</select>

	<select id="listCats" resultType="string" parameterType="long">
		select CONCAT(cat_id,"_",cat_name) from cms_cat where cat_id in (select
		cat_id from cms_article_cat
		where article_id=#{articleId})
	</select>

	<insert id="insertCmsArticleCats">
		<if test="cats.length>0">
			insert into cms_article_cat(article_id,cat_id)
			values
			<foreach collection="cats" separator="," item="catId">
				(#{articleId},#{catId})</foreach>
		</if>
	</insert>

	<delete id="deleteArticleCatByIds" parameterType="Long">
		delete from cms_article_cat where article_id in (
		<foreach collection="articleIds" separator=","
			item="articleId">
			#{articleId}</foreach>
		)
	</delete>

	<delete id="removeArticleCat">
		delete from cms_article_cat where article_id=#{articleId} and
		cat_id=#{catId}
	</delete>

	<insert id="insertArticleCat">
		insert into cms_article_cat(article_id,cat_id) values(#{articleId},#{catId})
	</insert>

	<!--通过父节点获取子节点-->
	<select id="listCmsCatView"
		parameterType="com.oly.cms.system.model.po.CmsCat"
		resultMap="CatResultMap">
		select distinct cat_id, cat_name, cat_icon, visible, order_no,
		parent_id,ancestors, remark,cat_url,parent
		from cms_cat
		<where>
			<if test="catId!=null"> cat_id=#{catId} or FIND_IN_SET(#{catId},ancestors)
			</if>
		</where>
	</select>

    <select id="listCatIdsById" resultType="long" parameterType="long">
        select cat_id from cms_cat where parent_id=#{catId} and parent="1"
    </select>
    
    <update id="updateAncestors">
        update cms_cat set ancestors=#{ancestors} where parent_id=#{parentId}
    </update>

</mapper>