<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.taoke.web.mapper.TaokeMapper">
    <resultMap type="com.ruoyi.taoke.web.model.TaokeModel" id="TaokeResult">
        <result property="shopId" column="shop_id"/>
        <result property="shopName" column="shop_name"/>
        <result property="shopImg" column="shop_img"/>
        <result property="shopIndex" column="shop_index"/>
        <result property="homeName" column="home_name"/>
        <result property="shopPrice" column="shop_price"/>
        <result property="shopSales" column="shop_sales"/>
        <result property="incomeRatio" column="income_ratio"/>
        <result property="commission" column="commission"/>
        <result property="wangName" column="wang_name"/>
        <result property="sortUrl" column="sort_url"/>
        <result property="taokeUrl" column="taoke_url"/>
        <result property="couponCount" column="coupon_count"/>
        <result property="couponNum" column="coupon_num"/>
        <result property="couponPrice" column="coupon_price"/>
        <result property="couponStartTime" column="coupon_start_time"/>
        <result property="couponEndTime" column="coupon_end_time"/>
        <result property="couponUrl" column="coupon_url"/>
        <result property="couponCode" column="coupon_code"/>
        <result property="couponSortUrl" column="coupon_sort_url"/>
        <result property="marketIs" column="market_is"/>
        <result property="groupNum" column="group_num"/>
        <result property="groupPrice" column="group_price"/>
        <result property="groupCommission" column="group_commission"/>
        <result property="groupStartTime" column="group_start_time"/>
        <result property="groupEndTime" column="group_end_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="shopFettle" column="shop_fettle"/>
        <result property="shopContent" column="shop_content"/>
    </resultMap>

    <sql id="selectTaokeVo">
        select shop_id, shop_name, shop_img, shop_index, home_name, shop_price, shop_sales, income_ratio, commission, wang_name, sort_url, taoke_url, coupon_count, coupon_num, coupon_price, coupon_start_time, coupon_end_time, coupon_url, coupon_code, coupon_sort_url, market_is, group_num, group_price, group_commission, group_start_time, group_end_time, create_time, update_time, remark, shop_fettle, shop_content from cms_taoke
    </sql>

    <select id="listTaoke" parameterType="com.ruoyi.taoke.web.model.TaokeModel" resultMap="TaokeResult">
    <include refid="selectTaokeVo"/>
        <where>
            <if test="shopName != null  and shopName != ''">and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="shopIndex != null  and shopIndex != ''">and shop_index = #{shopIndex}</if>
            <if test="homeName != null  and homeName != ''">and home_name like concat('%', #{homeName}, '%')</if>
            <if test="shopPrice != null ">and shop_price = #{shopPrice}</if>
            <if test="shopSales != null ">and shop_sales = #{shopSales}</if>
            <if test="incomeRatio != null ">and income_ratio = #{incomeRatio}</if>
            <if test="commission != null ">and commission = #{commission}</if>
            <if test="wangName != null  and wangName != ''">and wang_name like concat('%', #{wangName}, '%')</if>
            <if test="sortUrl != null  and sortUrl != ''">and sort_url = #{sortUrl}</if>
            <if test="taokeUrl != null  and taokeUrl != ''">and taoke_url = #{taokeUrl}</if>
            <if test="couponCount != null ">and coupon_count = #{couponCount}</if>
            <if test="couponNum != null ">and coupon_num = #{couponNum}</if>
            <if test="couponPrice != null ">and coupon_price = #{couponPrice}</if>
            <if test="couponStartTime != null ">and coupon_start_time = #{couponStartTime}</if>
            <if test="couponEndTime != null ">and coupon_end_time = #{couponEndTime}</if>
            <if test="couponUrl != null  and couponUrl != ''">and coupon_url = #{couponUrl}</if>
            <if test="couponCode != null  and couponCode != ''">and coupon_code = #{couponCode}</if>
            <if test="couponSortUrl != null  and couponSortUrl != ''">and coupon_sort_url = #{couponSortUrl}</if>
            <if test="marketIs != null  and marketIs != ''">and market_is = #{marketIs}</if>
            <if test="groupNum != null ">and group_num = #{groupNum}</if>
            <if test="groupPrice != null ">and group_price = #{groupPrice}</if>
            <if test="groupCommission != null ">and group_commission = #{groupCommission}</if>
            <if test="groupStartTime != null ">and group_start_time = #{groupStartTime}</if>
            <if test="groupEndTime != null ">and group_end_time = #{groupEndTime}</if>
            and  shop_fettle!=0
        </where>
    </select>

    <select id="selectTaokeByArticleId" parameterType="long" resultMap="TaokeResult">
        <include refid="selectTaokeVo"/>
      where shop_fettle!=0 and shop_id in (select shop_id from cms_article_taoke where article_id=#{articleId})
    </select>

    <!--获取热门标签：点击量比较多-->

    <!--获取热门分类：点击量比较多-->

    <!--

    获取cat_id->article_id->文章id-->
   <!-- <select id="listTaokeByCat">
        <include refid="selectTaokeVo"/> where post_id in ()
    </select>
    &lt;!&ndash;获取tag_id->article_id->文章id&ndash;&gt;
    <select id="listTaokeByTag">
        <include refid="selectTaokeVo"/>
    </select>
    &lt;!&ndash;获取统计_id->article_id->文章id&ndash;&gt;
    <select id="listTaokeByCount">
        <include refid="selectTaokeVo"/>
    </select>-->


    <select id="selectTaokeByShopId" parameterType="string" resultMap="TaokeResult">
        <include refid="selectTaokeVo"/>
        where shop_id=#{shopId} and shop_fettle!=0
    </select>

    <select id="listArticleIdsByTao" resultType="long" parameterType="com.ruoyi.taoke.web.model.parm.TaokeParm">
        select article_id from cms_article_taoke where shop_fettle!=0 and shop_id in (select * from(select shop_id from cms_taoke order by shop_sales desc limit 0,40)as ff)
    </select>

    <select id="listTaoKeByArticle" resultMap="TaokeResult">
        <include refid="selectTaokeVo"/>  where  shop_fettle!=0 and shop_id in (select shop_id from (select shop_id from cms_article_taoke where article_id in
        <foreach collection="articleIds" item="articleId" open="(" separator="," close=")">
            #{articleId}
        </foreach>)as t)
        <if test="taokeParm!=null">
        <where>
            <if test="taokeParm.shopName != null  and taokeParm.shopName != ''">and shop_name like concat('%', #{taokeParm.shopName}, '%')</if>
        </where>
        </if>
    </select>

</mapper>