<!--layui插件-->
<div th:fragment="common-css">
		<link th:href="@{/oss/assets/common.css}" rel="stylesheet" />
	</div>

<!--layui插件-->
<div th:fragment="layui-css">
	<link th:href="@{/oss/assets/layui/css/layui.css}" rel="stylesheet" />
</div>
<div th:fragment="layui-js">
	<script th:src="@{/oss/assets/layui/layui.js}"></script>
</div>

<div th:fragment="config-js">
	<script th:src="@{/oss/assets/config.js}"></script>
</div>

<div th:fragment="clipboard-js">
		<script th:src="@{/oss/assets/clipboard.min.js}"></script>
</div>