<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block   th:include="themes/bobey/blog_include :: blogHeader(title=${blogConfig['blog.config.title'].configValue+'-'+menu.columnName},
keywords=${blogConfig['blog.config.keywords'].configValue+','+menu.keywords},
description=${menu.description},
blogConfig=${blogConfig})"/>
</head>
	<body>
	<th:block th:include="themes/bobey/blog_include::menu(menus=${@menuTag.getMenu(21)},blogConfig=${blogConfig})"/>
		<!-- 主体部分 -->
		<section class="bobey-main-box">
			<div class="layui-row ">
				<div class="layui-col-md9  bobey-left-box" id="miao-left">
					<div class="bobey-left-content">
					<th:block th:include="themes/bobey/blog_include::blogCats(cats=${cats})" />
					</div>
				</div>
				<!-- 主体部分右边 -->
				<div class="layui-col-md3 bobey-right-box">
				<th:block th:include="themes/bobey/blog_include::rightCommen"/>
				</div>
			</div>

		</section>

		<!-- 底部导航 -->
		<th:block th:include="themes/bobey/blog_include::bottom" />
		<th:block th:include="themes/bobey/blog_include::footer_js" />

	</body>

</html>
