<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <th:block th:include="include :: header('邮件记录列表')" />
</head>

<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                接收邮箱：
                                <input type="text" name="toMail" />
                            </li>
                            <li>
                                主题：
                                <input type="text" name="subject" />
                            </li>
                            <li>
                                内容：
                                <input type="text" name="content" />
                            </li>
                            </li>
                            <li>邮件类型：<select name="mailType" th:with="type=${@dict.getType('oly_mail_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}">
                                </select>
                            </li>
                            <li>邮件用途：<select name="mailUsed" th:with="type=${@dict.getType('oly_mail_used')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}">
                                </select>
                            </li>
                            <li>状态：<select name="visible" th:with="type=${@dict.getType('oly_mail_visible')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}">
                                </select>
                            </li>
                            <li class="select-time">
                                <label>发送时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                    name="params[beginSendTime]" />
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                    name="params[endSendTime]" />
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="oly:email:add">
                    <i class="fa fa-plus"></i> 添加邮件
                </a>
                <a class="btn btn-warning" onclick="mailConfig()" shiro:hasPermission="oly:email:config">
                    <i class="fa fa-edit"></i> 配置邮件
                </a>

                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                    shiro:hasPermission="oly:email:remove">
                    <i class="fa fa-remove"></i> 删除邮件
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="oly:email:export">
                    <i class="fa fa-download"></i> 导出邮件
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('oly:email:edit') }]];
        var removeFlag = [[${@permission.hasPermi('oly:email:remove') }]];
        var dictType = [[${@dict.getType('oly_mail_type') } ]],
        dictUsed = [[${@dict.getType('oly_mail_used') }]], vi = [[${@dict.getType('oly_mail_visible') }]];
        var prefix = ctx + "oly/mail";

        $(function () {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                sortName: "createTime",
                sortOrder: "desc",
                modalName: "邮件记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'mailId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'toMail',
                    title: '接收者邮箱'
                },
                {
                    field: 'subject',
                    title: '主题'
                },
                {
                    field: 'content',
                    title: '内容'
                },
                {
                    field: 'visible',
                    title: '状态',
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(vi, value);

                    }
                },
                {
                    field: 'mailType',
                    title: '邮件类型',
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(dictType, value);
                    }
                },
                {
                    field: 'sendTime',
                    title: '发送时间'
                },
                {
                    field: 'mailUsed',
                    title: '邮件用途',
                    formatter: function (value, item, index) {

                        return $.table.selectDictLabel(dictUsed, value);

                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.visible == 0) {
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.mailId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        }
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.mailId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function mailConfig() {
            $.modal.open("修改邮件配置", prefix + "/config");
        }
    </script>
</body>

</html>