<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oly.cms.general.mapper.ArticleVoSearchMapper">
	<resultMap id="WebArticleVoResult" type="com.oly.cms.general.model.vo.WebArticleVo">
		<id column="article_id" property="articleId" />
		<result column="article_title" property="articleTitle" />
		<result column="create_time" property="createTime" />
		<result column="article_top" property="articleTop" />
		<result column="article_img" property="articleImg" />
		<result column="article_url" property="articleUrl" />
		<result column="article_type" property="articleType" />
		<result column="article_summary" property="articleSummary" />
		<result property="articleLook" column="article_look" />
		<result property="articleLike" column="article_like" />
		<result property="articleNasty" column="article_nasty" />
		<result property="articleDiscuss" column="article_discuss" />
		<result property="articleScore" column="article_score" />
		<result property="articleShare" column="article_share" />
		<result property="articleCollect" column="article_collect" />
	</resultMap>

	<sql id="article_count_sort_sql">
		a.article_id,article_title,create_time,article_top,article_img,article_url,article_type,article_summary,
		 article_look, article_like, article_nasty, article_discuss, article_score, article_share, article_collect
	</sql>

	<select id="listWebArticleVo" resultMap="WebArticleVoResult" parameterType="com.oly.cms.general.model.param.WebArticleSearchParam">
		select
		<include refid="article_count_sort_sql" />
		from cms_article a left join cms_article_count b on a.article_id=b.article_id
		<where>
			<if test="tagId != null">
	    and	a.article_id in (select article_id from cms_article_tag where tag_id=#{tagId})
		</if>
			<if test="catId != null">
		 and a.article_id in (select article_id from cms_article_cat where cat_id=#{catId})
		</if>
			<if test="articleTitle!=null and articleTitle != ''">
			and article_title like concat('%', #{articleTitle}, '%')
		</if>
			<if test="createBy!=null">
			and create_by=#{createBy}
		</if>
			<if test="articleType!=null">
			and article_type=#{articleType}
		</if>
			<if test="articleTop!=null">
			and article_top=#{articleTop}
		</if>
			<if test="articleBuild!=null">
			and article_build=#{articleBuild}
		</if>
			<if test="themeName != null and themeName != ''">
				<!-- 支持主题 -->
				and a.article_id in(select article_id from cms_article_theme where theme_name=#{themeName})
		</if>
			<if test="crTime!=null and crTime!=''">
				and date_format(create_time,'%Y-%m') = #{crTime}
		</if>
			and visible=3
		</where>
		GROUP BY a.article_id
	</select>

	<select id="selectPreArticle" resultMap="WebArticleVoResult" parameterType="long">
		select
		<include refid="article_count_sort_sql" />
		from cms_article a left join cms_article_count c on a.article_id=c.article_id where a.article_id = (select b.article_id from cms_article b where b.article_id &lt; #{articleId} order by b.article_id desc limit 1)
	</select>

	<select id="selectNextArticle" resultMap="WebArticleVoResult" parameterType="long">
		select
		<include refid="article_count_sort_sql" />
		from cms_article a left join cms_article_count c on a.article_id=c.article_id where a.article_id = (select b.article_id from cms_article b where b.article_id &gt; #{articleId} order by b.article_id asc limit 1)
	</select>

</mapper> 