<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oly.cms.general.mapper.GeneralArticleSortMapper">
	<resultMap id="ArticleSortResult" type="com.oly.cms.common.domain.entity.CmsArticle">
		<id column="article_id" property="articleId" />
		<result column="article_title" property="articleTitle" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="article_top" property="articleTop" />
		<result column="article_img" property="articleImg" />
		<result column="article_url" property="articleUrl" />
		<result column="visible" property="visible" />
		<result column="article_type" property="articleType" />
	</resultMap>

	<resultMap id="ArticleCountSortResult" type="com.oly.cms.common.domain.entity.CmsArticleCount" extends="ArticleSortResult">
		<result property="articleLook" column="article_look" />
		<result property="articleLike" column="article_like" />
		<result property="articleNasty" column="article_nasty" />
		<result property="articleDiscuss" column="article_discuss" />
		<result property="articleScore" column="article_score" />
		<result property="articleShare" column="article_share" />
		<result property="articleCollect" column="article_collect" />
	</resultMap>

	<sql id="article_count_sort_sql">
		a.article_id,article_title,create_time,article_top,article_img,article_url,visible,article_type,
		 article_look, article_like, article_nasty, article_discuss, article_score, article_share, article_collect
	</sql>

	<select id="listArticlesCountSort" resultMap="ArticleCountSortResult" parameterType="string">
		select
		<include refid="article_count_sort_sql" />
		from cms_article a left join cms_article_count b on a.article_id=b.article_id
		<where>
			<!-- 支持主题 -->
			<if test="themeName != null and themeName != ''">
				<!-- 支持主题 -->
				and a.article_id in(select article_id from cms_article_theme where theme_name=#{themeName})
			</if>
			and a.visible=3
		</where>
	</select>

</mapper> 