<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:with="taoConfig=${@configTag.getWebConfigByGroup('bobey_tao')}">
<head xmlns="http://www.w3.org/1999/html">
    <th:block  th:include="bobey/tao/taoke_include::taokeHeader(title=${taoConfig['oly.tao.title']+'-'+seo.columnName},keywords=${taoConfig['oly.tao.keywords']+','+seo.keywords},description=${seo.description})"/>
</head>
<body>
<!--== Start Header Section ==-->
<header id="header-area" class="header__2"  xmlns="http://www.w3.org/1999/html">
    <!-- Start PreHeader Area -->
 <div class="preheader-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-6">
                    <div class="preheader-contact-info d-flex align-items-center justify-content-between justify-content-md-start">
                        <div class="single-contact-info">
                            <span class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <a href="mailto:your@example.com" class="contact-text">
                                <strong>邮箱:</strong> <a th:href="'mailto:'+${taoConfig['oly.tao.contact.mail']}" th:text="${taoConfig['oly.tao.contact.mail']}">your@email.here</a>
                            </a>
                        </div>
                        <div class="single-contact-info">
                            <span class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <a href="" class="contact-text">
                                <strong>联系电话:</strong>  <a href="javaScript:void(0)" th:text="${taoConfig['oly.tao.contact.phone']}">+231 40596971</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End PreHeader Area -->

    <!-- Start Header Middle Area -->
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <th:block  th:include="bobey/tao/taoke_include::logo"></th:block>
            </div>
        </div>
    </div>
    <!-- End Header Middle Area -->

    <!-- Start Main Menu Area -->
    <div class="navigation-area" id="fixheader">
        <div class="container">
            <div class="row">
                <!-- Categories List Start -->
                <div class="col-10 col-lg-3">
                    <div class="categories-list-wrap">
                        <button class="btn btn-category d-none d-lg-inline-block"><i class="fa fa-bars"></i> 商品分类服务
                        </button>
                        <th:block  th:include="bobey/tao/taoke_include::goodsMenus(goodsCats=${@categoryTag.getCatTreeById(23)})"></th:block>
                    </div>
                </div>
                <!-- Categories List End -->
                <!-- Main Menu Start -->
                <div class="col-2 col-lg-9 d-none d-lg-block">
                    <div class="main-menu-wrap">
                        <nav class="mainmenu">
                            <th:block  th:include="bobey/tao/taoke_include::taokeMenu(taokeMenu=${@menuTag.getMenuTreeById(92)})"/>
                        </nav>
                    </div>
                </div>
                <!-- Main Menu End -->
            </div>
        </div>
    </div>
    <!-- End Main Menu Area -->
</header>
<!--== End Header Section ==-->

<!--== Start Slider Area 轮播 ==-->
<div class="slider-area-wrap">
    <th:block  th:include="bobey/tao/taoke_include::carousel(carousels=${@taoKeTag.taoKeByTagId(21,10)})"/>
</div>
<!--== End Slider Area ==-->

<!--== Start Feature Products  Area ==-->
<div id="product-area-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <th:block  th:include="bobey/tao/taoke_include::rankBander(newPut=${@taoKeTag.taoKeSortByCreateTime(20)},onSeal=${@taoKeTag.taoKeSortByShopSales(20)},maxCoupon=${@taoKeTag.taoKeSortByCouponPrice(20)})"/>
            </div>
            <div class="col-12">
                <div class="view-more-btn">
                    <a class="btn-hero btn-load-more" th:href="@{'/taoke/shop'}">获取更多</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Feature Products  Area ==-->
                <!-- 开始 -->
<section class="our-product section-space">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-title text-center">
                                    <h2>最近上架</h2>
                                    <p><a th:href="@{'/taoke/callMe'}">有什么特殊需求?</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row mtn-40">
                            <!-- product single item start -->
                            <th:block  th:include="bobey/tao/taoke_include::taos(taos=${@taoKeTag.taoKeSortByCreateTime(40)})"/>
                            <!-- product single item end -->
                            <div class="col-12">
                                <div class="view-more-btn">
                                    <a class="btn-hero btn-load-more" th:href="@{'/taoke/shop'}">获取更多</a>
                                </div>
                            </div>
                        </div>
                    </div>
</section>
                <!-- 结束 -->
<!-- Start Products Area Wrapper -->
<div class="product-area-wrapper">
    <th:block  th:include="bobey/tao/taoke_include::hotCats"/>
</div>
<!-- End Products Area Wrapper -->

<!-- Start Popular Categories -->

<!-- End Popular Categories -->

<!--== Start Recent Post & Reviews Area ==-->

<!--== End Recent Post & Reviews Area ==-->

<!--== Start Brand Carousel Area ==-->

<!--== End Brand Carousel Area ==-->

<!--== Start Call To Action ==-->

<!--== End Call To Action ==-->

<!--== Start Newsletter Area ==-->

<!--== End Newsletter Area ==-->

<!--== Start Footer Area ==-->
<th:block  th:include="bobey/tao/taoke_include::taokeBottom"/>
<!--== End Footer Area ==-->


<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<th:block  th:include="bobey/tao/taoke_include::taokeFooter"></th:block>
</body>
</html>
