<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:with="taoConfig=${@configTag.getWebConfigByGroup('bobey_tao')}">

<head xmlns="http://www.w3.org/1999/html">
    <th:block
        th:include="bobey/tao/taoke_include :: taokeHeader(title=${taoConfig['oly.tao.title']+'-'+wealPost.articleTitle},keywords=${taoConfig['oly.tao.keywords']+','+wealPost.keywords},description=${wealPost.description})" />
</head>

<body>
    <!--== Start Header Section ==-->
    <header id="header-area" class="header__2" xmlns="http://www.w3.org/1999/html">
        <div class="preheader-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-6">
                        <div
                            class="preheader-contact-info d-flex align-items-center justify-content-between justify-content-md-start">
                            <div class="single-contact-info">
                                <span class="contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <a href="mailto:your@example.com" class="contact-text">
                                    <strong>邮箱:</strong> <a th:href="'mailto:'+${taoConfig['oly.tao.contact.mail']}"
                                        th:text="${taoConfig['oly.tao.contact.mail']}">your@email.here</a>
                                </a>
                            </div>
                            <div class="single-contact-info">
                                <span class="contact-icon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <a href="" class="contact-text">
                                    <strong>联系电话:</strong> <a href="javaScript:void(0)"
                                        th:text="${taoConfig['oly.tao.contact.phone']}">+231 40596971</a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Header Middle Area -->
        <div class="header-middle-area">
            <div class="container">
                <div class="row">
                    <th:block th:include="bobey/tao/taoke_include :: logo"></th:block>
                </div>
            </div>
        </div>
        <!-- End Header Middle Area -->

        <!-- Start Main Menu Area -->
        <div class="navigation-area" id="fixheader">
            <th:block th:include="bobey/tao/taoke_include::taokeNav()"></th:block>
        </div>
        <!-- End Main Menu Area -->
    </header>
    <!--== End Header Section ==-->

    <div class="page-breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-breadcrumb">
                        <ul class="nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a th:href="@{'/taoke/shop'}" class="active">Shop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Breadcrumb ==-->

    <!--== Page Content Wrapper Start ==-->
    <div id="page-content-wrapper">
        <div class="container">
            <th:block
                th:include="bobey/tao/taoke_include :: taokeWealGood(post=${wealPost},postRecs=${wealPostRecently},postTops=${wealPostTop})">
            </th:block>
        </div>
    </div>

    <th:block th:include="bobey/tao/taoke_include :: taokeBottom" />
    <!--== End Footer Area ==-->

    <!-- Scroll to Top Start -->
    <a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
    <!-- Scroll to Top End -->


    <!--=======================Javascript============================-->
    <th:block th:include="bobey/tao/taoke_include :: taokeFooter"></th:block>
</body>

</html>