<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oly.cms.admin.mapper.CmsArticleLiquidMapper">


    <!--删除文章标签关联-->
    <delete id="deleteArticleTagByIds">
        delete from cms_article_tag where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章分类关联-->
    <delete id="deleteArticleCatByIds">
        delete from cms_article_cat where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章评论关联-->
    <delete id="deleteCmsCommentByIds">
        delete from cms_comment where type_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章评论相关联-->
    <delete id="deleteCmsCommentRecordByIds">
        delete from cms_comment_hand where type_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章喜欢关联-->
    <delete id="deleteCmsLikeRecordByIds">
        delete from cms_like_record where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章讨厌关联-->
    <delete id="deleteCmsNastyRecordByIds">
        delete from cms_nasty_record where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章收藏关联-->
    <delete id="deleteCmsCollectRecordByIds">
        delete from cms_collect_record where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章分享关联-->
    <delete id="deleteCmsShareRecordByIds">
        delete from cms_share_record where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章评分关联-->
    <delete id="deleteCmsScoreRecordByIds">
        delete from cms_score_record where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章浏览记录关联-->
    <delete id="deleteCmsLookRecordByIds">
        delete from cms_look_record where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <!--删除文章统计关联-->
    <delete id="deleteCmsArticleCountByIds">
        delete from cms_article_count where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
    </delete>

    <insert id="insertCmsArticleTags">
        insert ignore into cms_article_tag(article_id,tag_id)
        values
        <foreach collection="tags" separator="," item="tagId">
            (#{articleId},#{tagId})
        </foreach>
    </insert>

    <insert id="insertCmsArticleCats">
        insert ignore into cms_article_cat(article_id,cat_id)
        values
        <foreach collection="cats" separator="," item="catId">
            (#{articleId},#{catId})
        </foreach>
    </insert>

    <insert id="insertCmsArticleThemes">
        insert ignore into cms_article_theme(article_id,theme_name)
        values
        <foreach collection="themeNames" separator="," item="themeName">
            (#{articleId},#{themeName})
        </foreach>
    </insert>

    <insert id="insertCmsArticleTheme">
        insert ignore into cms_article_theme(article_id,theme_name) values (#{articleId},#{themeName})
    </insert>

    <delete id="deleteCmsArticleTheme">
         delete from  cms_article_theme where article_id=#{articleId} and theme_name=#{themeName}
    </delete>

    <delete id="deleteCmsArticleThemeByArticleId">
         delete from  cms_article_theme where article_id=#{articleId}
    </delete>

    <delete id="deleteCmsArticleThemeByTheme">
         delete from cms_article_theme where theme_name=#{themeName}
    </delete>

    <insert id="insertCmsArticleCount" parameterType="Long">
        insert into cms_article_count(article_id) values (#{articleId})
    </insert>

    <insert id="insertCatArticle">
        insert ignore into cms_article_cat(article_id,cat_id) values (#{articleId},#{catId})
    </insert>

    <insert id="insertTagArticle">
        insert ignore into cms_article_tag(article_id,tag_id) values (#{articleId},#{tagId})
    </insert>

    <delete id="deleteCatArticle">
        delete from cms_article_cat where article_id=#{articleId} and cat_id=#{catId}
    </delete>

    <delete id="deleteTagArticle">
         delete from cms_article_tag where article_id=#{articleId} and tag_id=#{tagId}
    </delete>

    <!-- 过滤不存在的分类 -->
    <select id="filterCats" resultType="int">
        select cat_id from cms_cat where cat_id in
        <foreach collection="array" item="catId" index="index" open="(" close=")" separator=",">
            #{catId}
        </foreach>
    </select>

    <!-- 过滤不存在的标签 -->
    <select id="filterTags" resultType="int">
        select tag_id from cms_tag where tag_id in
        <foreach collection="array" item="tagId" index="index" open="(" close=")" separator=",">
            #{tagId}
        </foreach>
    </select>

    <select id="countArticleTag" parameterType="long" resultType="int"> select count(*) from cms_article_tag where article_id=#{articleId}</select>

    <select id="countArticleCat" parameterType="long" resultType="int"> select count(*) from cms_article_cat where article_id=#{articleId}</select>

    <update id="updateCmsTagCountByIds">
        <foreach collection="array" separator=";" index="index" item="tagId">
            update cms_tag as t1 set tag_count=(select count(*) from cms_article_tag as t2 where t2.tag_id=#{tagId})
            where t1.tag_id=#{tagId}
        </foreach>
    </update>

    <update id="updateCmsCatCountByIds">
        <foreach collection="array" separator=";" index="index" item="catId">
            update cms_cat as t1 set cat_count=(select count(*) from cms_article_cat as t2 where t2.cat_id=#{catId}) where
            t1.cat_id=#{catId}
        </foreach>
    </update>

    <select id="selectCatIdsByArticleIds" resultType="int">
        select cat_id from cms_article_cat where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
        group by cat_id
    </select>

    <select id="selectTagIdsByArticleIds" resultType="int">
        select tag_id from cms_article_tag where article_id in
        <foreach close=")" separator="," open="(" collection="array" item="articleId">#{articleId}</foreach>
        group by tag_id
    </select>
</mapper>